{{#partial "contents"}}
<div style="height: 400px; border: solid;margin-bottom: 2px">
xxxxx
xxxxx
xxxxx
xxxxx
xxxxx
xxxxx
xxxxx
xxxxx
xxxxx
xxxxx
xxxxx
xxxxx
xxxxx
xxxxx
xxxxx
</div>
<div style="height: 400px;border: solid;margin-top: 2px">
yyyyy
yyyyy
yyyyy
yyyyy
yyyyy
yyyyy
yyyyy
yyyyy
</div>
<div id="scroll_wrapper">
<div id="scroll">
</div>
</div>
{{/partial}}
{{#partial "jsEntry"}}

<script type="text/javascript" src="http://lab.cubiq.org/iscroll5/build/iscroll-probe.js"></script>
<script src="/opensystem/resources/js/mobileTest.js"></script>

{{/partial}}
{{> mobile/layout/commonMobileLayout}}