/*<editor-folder desc="Overall layout">*/
#wrap {
    position: relative;
    clear: both;
    width: 100%;
    height: 100%;
}

#main{
    background-color: #F0F0F0;
    padding-right: 0;
    padding-left: 0;
    width: 980px;
}


header#header {
    position: relative;
    width: 980px;
    height: 70px;
    padding: 20px 0 15px;
    margin: 0 auto -1px;
}

#header h1 {
    width: 204px;
    height: 39px;
    float: left;
    margin-top: 0 !important;
}

#header h1 a {
    display: block;
    height: 39px;
    text-indent: -9999em;
    text-decoration: none;
}

.freeDeliveryBanner {
    float: right;
    margin-top: -10px;
    vertical-align: top;
}

#headline{
    border-top: 2px solid #8A8A8A;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    margin: 0 auto 40px;
    padding: 0 40px 40px;
    background: #fff;
}

.container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.container:before {
    display: table;
    content: " ";
}

.container:after {
    clear: both;
}

.title{
    padding: 0;
    font-weight: bold;
    font-size: 14px;
    color: #111111;
}

/*</editor-folder>*/

/*<editor-folder desc="Common styles">*/
.row {

}

.row:before {
    display: table;
    content: " ";
}

.row:after {
    clear: both;
    display: table;
    content: " ";
}

p.no-margin {
    margin: 0 0 0;
}

.required-sign {
    width: 15px;
}

.center-middle {
    text-align: center;
    vertical-align: middle;
}

.font-11 {
    font-size: 11px;
    color: #333333;
}

.font-black-bold-12 {
    font-size: 12px;
    font-weight: bold;
    color: #111111;
    position: relative;
    top: -2px;
}

.font-black-bold-18 {
    font-family: Tahoma;
    font-size: 14px;
    font-weight: bold;
    color: #111111;
    /*position: relative;*/
    /*top: 2px;*/
}

.font-red-bold-12 {
    font-size: 12px;
    font-weight: bold;
    color: #e52528;
    /*position: relative;*/
    /*bottom: -2px;*/
}

.font-red-bold-18 {
    font-family: Tahoma;
    font-size: 18px;
    font-weight: bold;
    color: #e52528;
    position: relative;
    top: 2px;
}

.font-red-bold-22 {
    font-family: Tahoma;
    font-size: 22px;
    font-weight: bold;
    color: #e52528;
    position: relative;
    top: 2px;
}
/*</editor-folder>*/