{{#partial "content"}}
<button id="btn1" type="button" class="btn btn-primary">Submit</button>
{{/partial}}
{{#partial "jsEntry"}}
<script>
	$(function() {
		$('#btn1').click(function() {
			$.ajax({
				url : 'ajax/test1',
				method : 'post',
				success : function(data) {
					if (data == 'success') {
						console.log("success");
					}
				},
				error : function() {
					console.log("failed");
				}
			});
		});
	})
</script>
{{/partial}}
{{> templates/layout/commonLayout}}
