{{#partial "content"}} userName:
<input type="text" id="username" />
<br />
password:
<input type="password" id="password" />
<br />
address1:
<input type="text" id="a1" />
<br />
address2:
<input type="text" id="a2" />
<br />
zipcode:
<input type="text" id="zipcode" />
<br />
<input type="button" value="Submit" id="b" />

<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Horizontal Form</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form class="form-horizontal">
		<div class="box-body">
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">Email</label>

				<div class="col-sm-10">
					<input type="email" class="form-control" id="inputEmail3"
						placeholder="Email">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label">Password</label>

				<div class="col-sm-10">
					<input type="password" class="form-control" id="inputPassword3"
						placeholder="Password">
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">Email</label>

				<div class="col-sm-10">
					<input type="email" class="form-control" id="inputEmail3"
						placeholder="Email">
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">Email</label>

				<div class="col-sm-10">
					<input type="email" class="form-control" id="inputEmail3"
						placeholder="Email">
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">Email</label>

				<div class="col-sm-10">
					<input type="email" class="form-control" id="inputEmail3"
						placeholder="Email">
				</div>
			</div>

			<button id="add">Add new</button>
			<div id="container">
				<button class="alert">alert!</button>
			</div>

		</div>
		<!-- /.box-body -->
		<div class="box-footer">
			<button type="button" class="btn btn-default">Cancel</button>
			<button type="button" class="btn btn-info pull-right" id="submit">Sign
				in</button>
		</div>
		<!-- /.box-footer -->
	</form>
</div>


{{/partial}} {{#partial "jsEntry"}}
<script src="/opensystem/resources/js/lib/require-2.2.0.js">
	
</script>
<script src="/opensystem/resources/js/newuser.js"></script>
{{/partial}} {{> templates/layout/commonLayout}}
