{{#partial "content"}}

{{>tabs}}

<h3>profile</h3>
<div id="test" data-menu="profile">test</div>
{{/partial}}
{{#partial "jsEntry"}}
<script src="/opensystem/resources/js/tabs.js"></script>
{{/partial}}
{{> templates/layout/commonLayout}}