{{#partial "content"}}
{{>tabs}}
<h3>home</h3>
<div id="test" data-menu="home">test</div>
{{/partial}}
{{#partial "jsEntry"}}
<script src="/opensystem/resources/js/tabs.js"></script>
{{/partial}}
{{> templates/layout/commonLayout}}